Feature/Code/JTL.Tax1040.WebApi/Web References/EfileTransmitService/ReceivingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReceiveService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="finaltransmit" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveServiceResult" type="tns:ArrayOfBusinessMessagesDE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBusinessMessagesDE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BusinessMessagesDE" nillable="true" type="tns:BusinessMessagesDE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BusinessMessagesDE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCategory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubmissionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Stage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveServiceSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveService" />
  </wsdl:message>
  <wsdl:message name="ReceiveServiceSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="ReceivingServiceSoap">
    <wsdl:operation name="ReceiveService">
      <wsdl:input message="tns:ReceiveServiceSoapIn" />
      <wsdl:output message="tns:ReceiveServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReceivingServiceSoap" type="tns:ReceivingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveService">
      <soap:operation soapAction="http://tempuri.org/ReceiveService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReceivingServiceSoap12" type="tns:ReceivingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveService">
      <soap12:operation soapAction="http://tempuri.org/ReceiveService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReceivingService">
    <wsdl:port name="ReceivingServiceSoap" binding="tns:ReceivingServiceSoap">
      <soap:address location="http://localhost:48594/ReceivingService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReceivingServiceSoap12" binding="tns:ReceivingServiceSoap12">
      <soap12:address location="http://localhost:48594/ReceivingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>