POC/EfileServiceFeature/JTL.Tax1040.EfileServices/JTL.Tax1040.EfileServices.ZipandSendService/Web References/MeFMSIServices/MeFHeader.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mefhdr="http://www.irs.gov/a2a/mef/MeFHeader.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.irs.gov/a2a/mef/MeFHeader.xsd" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MeF" type="mefhdr:MeFHeaderType" />
  <xs:element name="TransmitterIPAddress" type="mefhdr:TransmitterIPAddressType" />
  <xs:element name="MeFException" type="mefhdr:MeFExceptionType" />
  <xs:complexType name="MeFHeaderType">
    <xs:sequence>
      <xs:element name="MessageID" type="mefhdr:HeaderMessageIdType">
        <xs:annotation>
          <xs:documentation> This Message ID </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RelatesTo" type="mefhdr:HeaderMessageIdType">
        <xs:annotation>
          <xs:documentation> For response messages the request Message ID it relates to </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Action" type="xs:string">
        <xs:annotation>
          <xs:documentation> The service operation to invoke. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Timestamp" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The date and time this message was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ETIN" type="xs:string">
        <xs:annotation>
          <xs:documentation> The ETIN of the party associated with this message </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SessionIndicator" type="mefhdr:SessionIndicatorType">
        <xs:annotation>
          <xs:documentation> This indicates whether a session key is returned (Y or N) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TestIndicator" type="mefhdr:TestIndicatorType">
        <xs:annotation>
          <xs:documentation> This indicates whether the service request is for the test(T) or production(P) environment </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NotificationResponse" type="mefhdr:MeFNotificationResponse">
        <xs:annotation>
          <xs:documentation> This indicates the notification type and date/time </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AppSysID" type="xs:string">
        <xs:annotation>
          <xs:documentation> The Application System ID (User ID) of the A2A client calling this web service.  It is mandatory for Strong Authentication users. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element fixed="9.0" name="WSDLVersion" type="xs:string">
        <xs:annotation>
          <xs:documentation> The fixed WSDL version number. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="optional" />
    <xs:anyAttribute processContents="skip" />
  </xs:complexType>
  <xs:complexType name="MeFNotificationResponse">
    <xs:sequence>
      <xs:element name="NotificationType" type="xs:string">
        <xs:annotation>
          <xs:documentation> The item to which this notification applies (e.g. Password Expires in 6 days) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicableDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation> The current system date and time of this notification. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TestIndicatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="T" />
      <xs:enumeration value="P" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SessionIndicatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HeaderMessageIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{12}[a-z0-9]{8}[E|R|D]?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ErrorClassificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SYSTEM_ERROR" />
      <xs:enumeration value="RESOURCE_UNAVAILABLE" />
      <xs:enumeration value="MESSAGE_FORMAT_ERROR" />
      <xs:enumeration value="SECURITY_ERROR" />
      <xs:enumeration value="REQUEST_ERROR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MeFExceptionType">
    <xs:sequence>
      <xs:element name="ErrorMessage" type="xs:string" />
      <xs:element name="ErrorClassification" type="mefhdr:ErrorClassificationType" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:string" />
      <xs:element minOccurs="0" name="hostname" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransmitterIPAddressType">
    <xs:sequence>
      <xs:element name="IPAddress" type="xs:string">
        <xs:annotation>
          <xs:documentation> The client IP address. Sent to the MeF backend. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReceivedTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation> The time the message is received in the portal. Sent to the MeF backend.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>